body {
    background: linear-gradient(315deg, rgb(234, 79, 198) 3%, rgba(3, 191, 203, 1) 68%, rgb(191, 223, 225) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    user-select: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}
